<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.genkisugimoto.alfredworkflow.karabiner</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Genki Sugimoto (@Genki-S)</string>
	<key>description</key>
	<string>Karabiner Profile Switcher</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Karabiner</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
